<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<servlet>
		<description>
		</description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.web_chat.controller.LoginController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserRestController</display-name>
		<servlet-name>UserRestController</servlet-name>
		<servlet-class>com.web_chat.controller.api.UserRestController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChatRestController</display-name>
		<servlet-name>ChatRestController</servlet-name>
		<servlet-class>com.web_chat.controller.api.ChatRestController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FriendRestController</display-name>
		<servlet-name>FriendRestController</servlet-name>
		<servlet-class>com.web_chat.controller.api.FriendRestController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ConversationRestController</display-name>
		<servlet-name>ConversationRestController</servlet-name>
		<servlet-class>com.web_chat.controller.api.ConversationRestController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserRestController</servlet-name>
		<url-pattern>/UserRestController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChatRestController</servlet-name>
		<url-pattern>/ChatRestController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FriendRestController</servlet-name>
		<url-pattern>/FriendRestController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConversationRestController</servlet-name>
		<url-pattern>/ConversationRestController</url-pattern>
	</servlet-mapping>

	<session-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<display-name>chat-web-app</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>